@use "nullstyle" as *;
@use "fonts" as *;

:root {
  --fs-body: 16px;
  --fs-body-large: 18px;
  --fs-subtitle: 20px;
  --fs-subtitle-large: 24px;
  --fs-title: 30px;
  --fs-title-large: 40px;
  --b-radius-small: 5px;
  --b-radius-medium: 12px;
  --b-radius-large: 25px;
  --c-primary: rgb(119 166 255 / 100%);
  --c-primary-hover: rgb(64 123 255 / 100%);
  --c-background: rgb(216 231 253 / 100%);
  --c-secondary-background: rgb(255 255 255 / 100%);
  --c-primary-outline: rgb(156 190 255 / 100%);
  --c-secondary-outline: rgb(213 213 214 / 100%);
  --c-focus: rgb(236 243 255 / 100%);
  --c-hover: rgb(248 249 253 / 100%);
  --c-font: rgb(0 0 0 / 100%);
  --c-font-label: rgb(102 102 102 / 100%);
  --c-font-placeholder: rgb(166 163 173 / 100%);
  --c-font-on-primary: rgb(255 255 255 / 100%);
  --card-gradient: linear-gradient(
                  to top right,
                  rgb(71 129 238 / 100%) 0%,
                  rgb(117 163 251 / 100%) 50%,
                  rgb(161 194 255 / 100%) 100%);
  --c-inactive: rgb(245 245 245 / 100%);
  --c-font-inactive: rgb(117 125 138 / 100%);

  font-family: Inter, sans-serif;
  font-size: var(--fs-body);
  color: var(--c-font);
}

body, #app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--c-background);
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 90%;
  background-color: var(--c-secondary-background);
  border-radius: var(--b-radius-large);
}

.inactive {
  color: var(--c-font-inactive);
  background-color: var(--c-inactive);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}